body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  color: #143774;
  font-size: 2rem;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  color: #1792d2;
}
h3 {
  color: #143774;
}

p {
  font-size: 0.8em;
  color: #707070;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover {
  color: #1792d2;
}

.current-page {
  border-bottom: 2px solid grey;
}

.main {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.main-left {
  width: 65%;
}

.img-big {
  width: 100%;
  max-height: 300px;
}

.img-small {
  width: 90%;
  max-height: 400px;
}

.main-left-2 {
  border-top: 3px solid #707070;
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}

.main-left-3 {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}

.main-right {
  width: 30%;
  text-align: center;
}

.about-me {
  padding: 1em;
  margin: 0 auto;
  max-height: 500px;
  border: 1em solid rgba(112, 112, 112, 0.3);
}

.about-me img {
  width: 80%;
  max-height: 200px;
}

.recent-posts {
  margin-top: 2em;
  padding: 1em;
  border: 1em solid rgba(112, 112, 112, 0.3);
}

.recent-posts img {
  width: 80%;
  max-height: 200px;
}

.post-2 {
  border-top: 3px solid #707070;
  padding: 1em;
}

footer {
  margin-top: 3em;
  padding: 2em 0;
  text-align: center;
  background-color: #1792d2;
  color: white;
}

.foot h3 {
  margin-bottom: 0;
  color: white;
}

.foot p {
  margin-top: 0.2em;
  color: white;
}

@media (max-width: 755px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }

  .main {
    margin-top: 3em;
    flex-direction: column;
    width: 100%;
  }

  .main-left {
    width: 90%;
    margin: 0 auto;
  }

  .main-right {
    width: 90%;
    margin: 0 auto;
  }

  .main-left-2 {
    flex-direction: column;
    width: 100%;
  }

  .left-2-img {
    width: 100%;
  }

  .main-left-3 {
    flex-direction: column;
    width: 100%;
  }

  .left-3-img {
    width: 100%;
  }

  .img-small {
    width: 100%;
  }
  .about-me img {
    object-fit: cover;
  }
}

/********************About Me page****************************/

.abt-me {
  width: 90%;
  max-width: 900px;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
  height: 700px;
}
.abt-me-left {
  width: 65%;
}
.abt-me-right {
  width: 25%;
  border: 1em solid rgba(112, 112, 112, 0.3);
  text-align: center;
  height: 500px;
  padding: 1em 0;
}

.abt-me-right img {
  width: 70%;
}

.abt-me-right div {
  text-align: center;
  border-top: 3px solid #707070;
  margin: 1em;
  padding-top: 1em;
}

.abt-me-left {
  max-height: 308px;
  background: url(https://images.axa-contento-118412.eu/arfv2/c47b0ceb180be4d1e76442180c9c8517e18b959d_mike-baker-3y366aqddj0-unsplash.jpg?auto=compress,format);
  background-size: cover;
}

.left-text {
  position: relative;
  top: 360px;
}

@media (max-width: 770px) {
  .abt-me {
    flex-direction: column;
    height: auto;
  }
  .abt-me-right {
    position: relative;
    top: 400px;
    width: 80%;
    max-width: 400px;
    height: auto;
  }
  .abt-me-left {
    width: 90%;
  }
  .abt-me-left img {
    width: 100%;
  }

  .about-me-footer {
    position: relative;
    top: 400px;
  }
}

@media (max-width: 620px) {
  .abt-me-right {
    position: relative;
    top: 510px;
    width: 80%;
    max-width: 400px;
    height: auto;
  }
  .about-me-footer {
    position: relative;
    top: 500px;
  }
}

/******************RECENT POST PAGE************************/

main {
  width: 90%;
  max-width: 900px;
  margin: 3em auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.recent-post-left {
  width: 70%;
}

.recent-post-right {
  width: 25%;
  text-align: center;
}

.recent-post-right h2 {
  margin: 1em 0;
}

.rp-left {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.rp-left-text {
  width: 55%;
}

.rp-left img {
  width: 100%;
}

.rp-left-img {
  width: 40%;
}

.rp-rp img,
.rp-abt-me img {
  width: 70%;
}

.rp-abt-me,
.rp-rp {
  margin-bottom: 2em;
  border: 1em solid rgba(112, 112, 112, 0.3);
}

.rp-rp div {
  border-top: 3px solid #707070;
  margin: 1em;
  padding-top: 1em;
}

@media (max-width: 760px) {
  main {
    flex-direction: column;
  }

  .recent-post-left {
    width: 100%;
  }

  .rp-left img {
    min-width: 250px;
  }

  .recent-post-right {
    width: 80%;
  }
}

@media (max-width: 690px) {
  .rp-left-img {
    width: 80%;
  }

  .rp-left {
    flex-direction: column;
    align-items: center;
  }

  .rp-left-text {
    margin-top: 2em;
    width: 80%;
  }

  .recent-post-right {
    margin: 0 auto;
  }
}
